@using System.Diagnostics.Eventing.Reader
@using System.Globalization
@model Hana.ViewModels.CartViewModel
@{
    ViewBag.Title = "Store Checkout";
    CultureInfo us = new CultureInfo("en-us");
}
<div class="col-md-8" style="padding-top: 15vh">
    <h3 class="text-left">
        <span class="glyphicon glyphicon-shopping-cart"> SHOPPING CART:</span>
    </h3>
    <hr />
    <div id="update-message" class="text-info"></div>
    @if (Model.Contents.Count == 0)
    {
        <p>Your shopping cart is empty</p>
        <hr />
        <a class="btn btn-default" href="~/StoreFront/Index/1">C O N T I N U E . S H O P P I N G</a>
    }
    else
    {
        <table class="table-responsive table-bordered table-striped" style="padding-bottom: 10vh">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price (each)
                </th>
                <th>
                    Quantity
                </th>
                <th>Subtotal</th>
                <th></th>
            </tr>
            @foreach (var item in Model.Contents)
            {
                <tr id="row-@item.ProductID">
                    <td>
                        @Html.ActionLink(item.Product.ProductName, "Details", "Products", new { id = item.ProductID }, null)
                    </td>
                    <td>
                        @item.Product.Price
                    </td>
                    <td id="item-count-@item.ProductID">
                        @item.Count
                    </td>
                    <td>
                        @((item.Product.Price * item.Count).ToString("c", us))
                    </td>
                    <td>
                        @Html.ActionLink("Remove from cart?", "", "", new { @class = "text-danger"})
                    </td>
                </tr>
            }
            <tr>
                <td>
                    Total
                </td>
                <td></td>
                <td></td>
                <td id="cart-total" class="text-success">
                    <b>@Model.CartTotal.ToString("c", us)</b>
                </td>
            </tr>
        </table>
            <br />
            <a class="btn btn-default" href="~/StoreFront/Index/1">C O N T I N U E . S H O P P I N G</a>
            <br />
            <br />
            <p>@Html.ActionLink("C H E C K O U T", "AddressAndPayment", "Checkout", new { },  new { @class = "btn btn-success" })</p>
    }
</div>
